/* Flexbox */

body {
    background-color: grey;

}
.hide {
    display: none;
}

.container-fluid {
    display: flex;
}

.section {
    flex: 1;    
}

#btnImportant {
    font-size: 20px;
    color: green;
    cursor: pointer;
}

#btnImportant.active {
    color: #dc3545;
}

.control {
    display: block;
    width: 100%;
}

.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.right {
    right: 0;
    background-color: tan;
}
